#root {
  text-align: center;
}

.flexbox {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
}

.score-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-btn button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 90vh;
}